<header class="banner">
    <div class="container">
        <div class="banner_content">
            <div class="banner_text">
                <h1>Send your files seamlessly</h1>
                <p>SHShare is a cross platform file transfer application
                    that takes an easy to send files through local
                    network</p>
                <a class="button" href="#">Download</a>
            </div>
            <div class="banner_image">
                <img src="/img/shshare.png" alt="screenshot">
            </div>
        </div>
    </div>
</header>