<section id="download" class="download">
    <div class="container">
        <h3 class="section_header">Download</h3>
        <div class="cards">
            <div class="card">
                <div class="card__content">
                    <img src="/img/macos.svg" class="card__logo" />
                    <div class="card__description">
                        <h4>macOS</h4>
                        <a href="#" class="card__link">dmg</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__content">
                    <img src="/img/windows.svg" class="card__logo" />
                    <div class="card__description">
                        <h4>Windows</h4>
                        <a href="#" class="card__link">exe</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__content">
                    <img src="/img/ubuntu.svg" class="card__logo" />
                    <div class="card__description">
                        <h4>Ubuntu</h4>
                        <a href="#" class="card__link">deb</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__content">
                    <img src="/img/fedora.svg" class="card__logo" />
                    <div class="card__description">
                        <h4>Fedora</h4>
                        <a href="#" class="card__link">rpm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>