<div id="features" class="features">
    <div class="container">
        <h3 class="section_header">Features</h3>
        <div class="features_content">
            <div class="features_image">
                <img src="/img/shshare2.png" alt="screenshot">
            </div>
            <div class="features_text">
                <h3>Send files is easier than ever</h3>
                <p>It's very easy to start using SHShare.
                    You just need to install the app and SHShare will autodetect all your computers in the LAN.
                    Everything that you need is to select what you want to send and select destination.
                </p>
                <ul class="features_list">
                    <li>
                        SHShare works on Windows, MacOS, Linux.
                    </li>
                    <li>
                        SHShare works without the internet and it doesn't send
                        information outside your local network.
                    </li>
                    <li>
                        You can send any data that you want between your devices.
                        SHShare doesn't have any limitations.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>