<div id="help" class="help">
    <div class="container">
        <h3 class="section_header">Need a help?</h3>
        <div class="help__container">
            <div class="help__image">
                <img src="/img/illustration_contact.svg" alt="help image">
            </div>
            <div class="help__content">
                <form id="support_form" class="support_form">
                    <div id="support_form_name" class="support_form__item">
                        <label for="name">Fullname*</label>
                        <input type="text" class="support_form__control" id="name">
                    </div>

                    <div id="support_form_email" class="support_form__item">
                        <label for="email">Email*</label>
                        <input type="text" class="support_form__control" id="email">
                    </div>

                    <div id="support_form_message" class="support_form__item">
                        <label for="message">Message*</label>
                        <textarea rows="6" class="support_form__control" id="message"></textarea>
                    </div>

                    <a id="support_form_send" class="button button-inverse" href="#help">Send</a>
                </form>
            </div>
        </div>
    </div>
</div>