<nav class="menu">
    <div class="container">
        <div class="menu_bar">
            <a class="menu_logo" href="/">SHShare</a>
            <div class="menu_button">
                <span class="menu_button_line"></span>
                <span class="menu_button_line"></span>
                <span class="menu_button_line"></span>
            </div>
        </div>
        <div class="menu_content">
            <ul class="menu_items">
                <li><a class="menu_link menu_link-active" href="/">Home</a></li>
                <li><a class="menu_link" href="/#features">Features</a></li>
                <% if(locals.user_id){ %>
                <li><a class="menu_link" href="/#download">Download</a></li>
                <% } else { %>
                <li><a class="menu_link" href="/accounts/login">Download</a></li>
                <% } %>
                <li><a class="menu_link" href="/#help">Help</a></li>
            </ul>
        </div>
    </div>
</nav>